.order-id{
    font-weight: 500;
}
.order-price{
    color: #666
}
.order-status{
    background: #FFEB3B;
    padding: 2px 4px;
    border-radius: 2px;
}

.order-subscription{
    background: #cddc39;
    padding: 2px 4px;
    border-radius: 2px;
}
hr {
    height: 2px;
    background-color:#3880ff;
  }
  