<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide>
      <img src="./assets/images/slide_4.png" />
      <img src="./assets/images/pidenos3.png" width="200px"  />
      &nbsp;
      <p>Entrega rápido y seguro</p>
    </ion-slide>
    <!--
    <ion-slide>
      <img src="./assets/images/slide_2.png" />
      <h3>Track your orders</h3>
      <p>Keep eye on your order</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/slide_3.png" />
      <h3>Reserve your seats</h3>
      <p>Want to book seats? let's do it</p>
    </ion-slide>
  -->
  </ion-slides>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" (click)="skip()">Comenzar</ion-button>
  </ion-toolbar>
</ion-footer>